# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

zappy_ai
zappy_server
zappy_gui

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

## Local

.idea/*.xml

build/**/*
binaries/**/*

include/*
/bin/*
!/bin/.*
!/bin/lib/.gitkeep

# tests
unit_tests
/*_unit_tests
coverage.info
*.gcno
*.gcda
vgcore.*

# IDE files
.vscode/
.idea/
.cache

